name: Build
on:
  push:
    tags:
      - v*
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - name: install tools
        run: nix profile add "nixpkgs#just" && just -V

      - run: just build-ci

      - name: extract changelog
        run: just extract-changelog ${{ github.workspace }}-CHANGELOG.md
      - name: upload release artifact
        uses: softprops/action-gh-release@v2
        if: ${{ github.event_name == 'push' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          body_path: ${{ github.workspace }}-CHANGELOG.md
          files: "*.tar.xz"
          prerelease: ${{ contains(github.ref, '-pre') }}
